kind: Runtime.Module
metadata:
  name: ConfigExample
imports:
  - ../modules/config
  - ../modules/http-server
---
# Declare the secret (env var must be set at boot time)
kind: Config.Secret
metadata:
  name: StripeKey
  module: ConfigExample
source:
  env: STRIPE_SECRET_KEY
grants:
  - Http.Api/PaymentApi # optional RBAC: only this consumer can read it
---
# Declare an optional variable
kind: Config.Variable
metadata:
  name: ApiBaseUrl
  module: ConfigExample
source:
  env: API_BASE_URL
---
# Consume in another resource
kind: Http.Api
metadata:
  name: PaymentApi
  module: ConfigExample
routes:
  - request:
      path: /charge
      method: POST
    handler:
      kind: JavaScript.Script
      name: ChargeCard
      inputs:
        apiKey: "${{ Config.Secret.StripeKey.value }}"
        baseUrl: "${{ Config.Variable.ApiBaseUrl.value }}"
    response:
      status: 200
      statuses:
        "200":
          body:
            message: Payment accepted
---
kind: Http.Server
metadata:
  name: PaymentServer
  module: ConfigExample
openapi:
  info:
    title: Payment gateway
    version: 1.0.0
port: 4444
mounts:
  - path: /v1
    type: Http.Api.PaymentApi
